/Debug/
.*swp
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.orig

# Eclipse Core
.project

.AppleDouble

.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.DS_Store
*.o

.vs
.vscode

# Python
.tox/
.pytest_cache/
build/
.build/
*.pyc
.dist/
dist/
/python/.coverage*
/python/venv*
/python/cryptoauthlib.egg-info
/python/VERSION

# Documents
docs/**/*
docs/html/**/*
docs/latex/**/*
dist-tools/cryptoauthlib*

# Third party libraries
third_party/mbedtls/*
third_party/wolfssl/*

