recursive-include lib *.c *.h atca_config.h.in CMakeLists.txt 90-cryptohid.rules
recursive-include third_party *.c *.h
recursive-include app *.c *.h
include MANIFEST.in setup.py setup.cfg README.md VERSION LICENSE.txt
